<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248769594971-9gf56j8ous0rdp05kptgq3gamv3g4fd8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248769594971-9gf56j8ous0rdp05kptgq3gamv3g4fd8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>248769594971-go3uoffrh2og962dnsekvb7k6deno1h6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDsOzc_p4d88PWUMmNmOZ0zWMXtdFlJsrU</string>
	<key>GCM_SENDER_ID</key>
	<string>248769594971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterZoomClone</string>
	<key>PROJECT_ID</key>
	<string>flutter-zoom-clone-21395</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-zoom-clone-21395.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248769594971:ios:b71a9112cfc4b84877a17e</string>
</dict>
</plist>